# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --disable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --ipv6=auto --activate
network  --hostname=localcomputer.localdomain

# Root password
rootpw ansible

# System timezone
timezone America/Detroit --isUtc

# System bootloader configuration
bootloader --location=mbr
autopart --type=lvm

# Partition clearing information
clearpart --all --initlabel

# Accept the eula
eula --agreed

# Reboot the machine after successful installation
reboot --eject

%packages
@core
openssh-clients
sudo
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl3160-firmware
-iwl1000-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
%end
